#author{
    font-size: 30px;

    
}

#content{
    font-size: 30px;
    
}

body{
    display: grid;
    height: 100vh;
    justify-content:center;
    align-content: center;
}

a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
