#author{
    font-size: 30px;

    
}

#content{
    font-size: 30px;
    
}

body{
    display: grid;
    height: 100vh;
    justify-content:center;
    align-content: center;
}

div {
    background-color: rgba(0,0,255,0.2);
    padding: 100px;
    border-radius: 50%;
}

a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 4px;
    color: black;
}

h1 {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: 12px;
    line-height: 34px;
    /* opacity: 0.5; */
}

p {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 12px;
    line-height: 34px;
    opacity: 0.5;
}

  p:focus {
    outline: none;
  }
